form{
  border: 1px solid #ddd;
  background-color: #eee;
}


.productos{
  background-color: #eee;
  padding: 10px;
}

.detalles{
  border: 1px solid #ddd;
  margin: 5px;
  padding: 10px;
}


.detalle{
  
  border: 1px solid #ddd;
}


.informacion-pedido{
  border: 1px solid #ddd;
  margin-left: 10px;
 

}

